extends admin

block append content

  form(method='POST' action='/artsMenu/editUpdate')
        div.form-group
          label(for='title') Title:
          input#title.form-control(type='text', value=(art[0].title), name='title')
        div.form-group
          label(for='media1') Media 1:
          input#media1.form-control(type='file', value=(art[0].media_1), name='media1')
        div.form-group
          label(for='body') Body:
          textarea#body.form-control(type='text', name='body') #{art[0].body}
        div.form-group
          label(for='media1') Media 2:
          input#media2.form-control(type='file', value=(art[0].media_2), name='media2')
        div.form-group
          label(for='video') Video Link(optional):
          input#video.form-control(type='text', value=(art[0].video), name='video')

        button.btn.btn-primary(type='submit') Submit
