extends admin

block append content

  form(method='POST' action='/cultureMenu/new')
        div.form-group
          label(for='title') Title:
          input#title.form-control(type='text', placeholder='Enter the title of the menu item' name='title')
        div.form-group
          label(for='media1') Media 1:
          input#media1.form-control(type='text', placeholder='Enter the sub title for the menu item' name='media1')
        div.form-group
          label(for='body') Body:
          textarea#body.form-control(type='text' name='body')
        div.form-group
          label(for='media1') Media 2:
          input#media2.form-control(type='text', placeholder='Enter the sub title for the menu item' name='media2')

        button.btn.btn-primary(type='submit') Submit
