extends admin

block content
  h1= title

  ul
  each culture in culture_List
    li
      a(href=culture.title) #{culture.title}

  else
    li There are no cultures.

  button(class='addNew')
    a(href='/cultureMenu/new') Create New
