extends admin

block append content
  h1= title

  ul
  each language in languages_List
    form(method='POST' action='/languagesMenu/editOrDelete')
      input#title.form-control(type='text', value=(language.title), name='title')
      button.btn.btn-primary(type='submit', name='option', value='edit') Edit
      button.btn.btn-primary(type='submit', name='option', value='delete') Delete

  else
    li There are no languages.

  button(class='addNew')
    a(href='/languagesMenu/new') Create New
