extends admin

block append content

  div(class='button-group')
    button(class='cultureButton')
      a(href='/cultureMenu') Culture
    button(class='eldersButton')
      a(href='/eldersMenu') Elders
    button(class='historyButton')
      a(href='/historyMenu') History
    button(class='futureButton')
      a(href='/futureMenu') Future
    button(class='nationsButton')
      a(href='/nationsMenu') Nations
    button(class='languagesButton')
      a(href='/languagesMenu') Languages
    button(class='socialEmotionalButton')
      a(href='/socialEmotionalMenu') Social and Emotional
    button(class='artsButton')
      a(href='/artsMenu') Arts
    button(class='dreamingButton')
      a(href='/dreamingMenu') Community
    button(class='spokenButton')
      a(href='/spokenMenu') Music
  button(class='logout')
    a(href='/logout') Logout
