extends admin

block append content

  form(method='POST' action='/nationsMenu/new')
        div.form-group
          label(for='title') Title:
          input#title.form-control(type='text', placeholder='Enter the title of the menu item' name='title')
        div.form-group
          label(for='subtitle') Sub Title:
          input#subtitle.form-control(type='text', placeholder='Enter the sub title for the menu item' name='subtitle')
        div.form-group
          label(for='body') Content:
          textarea#body.form-control(type='text' name='body')
        div.form-group
          label(for='video') Video Link(optional):
          input#video.form-control(type='text', name='video')
        

        button.btn.btn-primary(type='submit') Submit
