extends admin

block content
  h1= title

  ul
  each socialEmotional in socialEmotional_List
    form(method='POST' action='/socialEmotionalMenu/editOrDelete')
      input#title.form-control(type='text', value=(socialEmotional.title), name='title')
      input#media1.form-control(type='text', value=(socialEmotional.media_1), name='media1')
      textarea#body.form-control(type='text', name='body') #{socialEmotional.body}
      input#media2.form-control(type='text', value=(socialEmotional.media_2), name='media2')
      input#video.form-control(type='text', value=(socialEmotional.video), name='video')
      button.btn.btn-primary(type='submit', name='option', value='edit') Edit
      button.btn.btn-primary(type='submit', name='option', value='delete') Delete

  else
    li There is nothing spoken.

  button(class='addNew')
    a(href='/socialEmotionalMenu/new') Create New
